.left-navbar{
    width: 15%;
    background-color: black;
    padding-left: 2%;
}

.main-container{
    background-color: #181818;
    width: 85%;
}

.player{
    background-color: #282828;
    height: 5%;
    display: flex;
    align-items: flex-end;
}

section div img{
    width: 70%;
    margin:10% 0;
}

.link{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.link:hover{
    text-decoration: white;
    color: white;
}
