*{
    font-family: 'Raleway:700', sans-serif;
}

.left-navbar{
    width: 250px;
    height: 100vh;
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
}

.main-container{
    background-color: #181818;
    width: calc(100% - 250px);
    float: left;
    height: calc(100vh - 15vh);
    overflow-y: auto;
}

.main-nav-container{
    width: 60%;
    margin: auto;
    margin-top: 3%;
}

.main-content-container{
    width: 95%;
    margin: auto;
}

.player{
    background-color: #282828;
    height: 15vh;
    width: 100%;
}

p{
    color: lightgrey;
}

section div img{
    width: 70%;
    margin:10% 0;
}

section div ul li{
    margin-bottom: 10%;
}

.link{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.link:hover{
    text-decoration: white;
    color: white;
}

.icons{
    font-size: 25px;
}

.borderfooter{
    border-bottom: 1px solid grey;
}

.main-navbar{
    color: lightgrey;
    font-size: 13px;
    margin-right: 20px;

}

.playlist-titles{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.playlist-container{
    width: 16%;
}

.playlist-image{
    width: 100%;
}

.subtitle-playlist{
    text-decoration: none;
    color: white;
}
